<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
      <!--<add key="Source" value="C:/Temp/camt/*.tar.gz"/>-->
      <add key="Source" value="C:/Temp/camt/*.*"/>
  </appSettings>
  <startup> 
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
  </startup>
</configuration>
